<div class="content">
    <div class="contact-profile">
        <img src="../Images/default_avt.png" alt="" />
        <p>Harvey Specter</p>
        <div class="social-media">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
    </div>
    <% include ../partial/message %>
    <div class="message-input">
        <div class="wrap">
            <input type="text" id="type-input" placeholder="Write your message..." />
            <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
            <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
    </div>
</div>