<div id="sidepanel">
    
    <div id="search">
        <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
        <input class="form-control mr-sm-2" type="search" placeholder="Search contact" aria-label="Search">
    </div>
    <% include ../partial/contact %>
    <div id="bottom-bar">
        <button id="addcontact" aria-hidden="true" data-toggle="modal" data-target="#addfrModal"><i
                class="fa fa-user-plus fa-fw"></i> <span>Add 
                contact</span></button>
        
        <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
    </div>
</div>