.marked{
    color: grey;
   font-weight: 400 !important;
}
.welcome{
    background: url('../Images/Bg4.jpg') center ;
    background-size: cover;
    background-color: #e5ddd5;
}
.time{
    float: right;
}