<div class="content welcome">
    <div class="contact-profile">
        <img id='conversationImg' src="../Images/default_avt.png" alt="" />
        <p class="name"></p>
        <div class="social-media">
            <i class="fas fa-user-plus" id='add-members'></i>
            <i class="fas fa-video" id="video-call"></i>
            <i class="fas fa-info-circle" id="conversation-infor"></i>
        </div>
    </div>
    <% include ../partial/message %>
    <div class="message-input">
        <div class="input-wrap wrap">
            <input type="text" id="type-input" placeholder="Write your message..."/>
            <input type="file" name="file-input" id="file-input" style="display:none" />
            <div id="emoji-container"></div>
            <label for="file-input" style="position: relative;">
                <i  class="fas fa-paperclip attachment"></i>
                <span id="new-file" class="badge badge-pill badge-danger" style="display:none">1</span>
            </label>
            <button class="submit"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>
</div>