<div class="content welcome">
    <div class="contact-profile">
        <img id='friendImg' src="../Images/default_avt.png" alt="" />
        <p class="name"></p>
        <div class="social-media">
            <i class="fas fa-user-plus"></i>
            <i class="fas fa-video"></i>
            <i class="fas fa-info-circle"></i>
        </div>
    </div>
    <% include ../partial/message %>
    <div class="message-input">
        <div class="input-wrap wrap">
            <input type="text" id="type-input" placeholder="Write your message..."/>
            <div id="emoji-container"></div>
            <i class="fas fa-paperclip attachment"></i>
            <button class="submit"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>
</div>