<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="header">
    <a class="navbar-brand ">
        <img user_id=<%=user.user_id%> id="profile-img" src=""
            class="d-inline-block align-center online" alt="" />

    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <%= user.firstname%> <%=user['lastname']%>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <button id="profileSetting"class="btn btn-dark dropdown-item"> <i class="fas fa-user-circle"></i>Profife Setting</button>
                    <a class="btn  btn-dark  dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"
                        aria-hidden="true"></i>Log out</a>
                </div>
            </li>

        </ul>
        <div class="form-inline my-2 my-lg-0">
            <button id="addContact" class="btn btn-dark" aria-hidden="true" data-toggle="modal"
                data-target="#addfrModal"><i class="fas fa-user-plus"></i> <span>Add contact
                </span></button>
            <button type="button" class="btn btn-dark"><i class="fas fa-bell" aria-hidden="true"></i>
                <span>Notifications</span> <span class="badge badge-danger">4</span>
            </button>
           
        </div>

    </div>
</nav>