<div id="sidepanel">

    <div id="search">
        <div class="dropdown"id="conv-filter">
            <button class="btn btn-dark dropdown-toggle" type="button" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Chat filter
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" id='chat-single' >Single chat</a>
                <a class="dropdown-item" id='chat-group'>Group chat </a>
                <a class="dropdown-item" id='chat-all'>All conversation</a>
            </div>
        </div>
        <button type="button" id="add-groupchat" class="btn btn-outline-light" data-toggle="modal"
            data-target="#groupchatModal" title="Add new conversation"><i class="fas fa-plus-circle"></i><span> Create Group</span></button>
    </div>
    <div class="text-center waiting m-5 loading" >
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <% include ../partial/contact %>
    <div id="bottom-bar">
        <button id="message" aria-hidden="true"><i class="fas fa-comments"></i> <span>Message
            </span></button>

        <button id="contacts"><i class="fas fa-user" aria-hidden="true"></i> <span>Contacts</span></button>
    </div>
</div>