<div class="modal fade" id="callModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3 col-md-2 col-5 profileImg">

                    </div>
                    <div class="col-md-8 col-6 connecting">

                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="spinner-grow text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                </div>
                <div class="row">
                    <video id="their-video" autoplay></video>
                    <video id="my-video" muted="true" autoplay></video>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="end-call"><i class="far fa-dot-circle"></i>
                    <span>End Call</span> </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="inCallModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3 col-md-2 col-5 profileImg">

                    </div>
                    <div class="col-md-8 col-6 connecting">

                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="spinner-grow text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Decline</button>
                <button type="button" class="btn btn-success" id="answer-call"><i class="fas fa-phone"></i><span>  Accept</span></button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="callModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
                
                Video chat ended.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ><i class="far fa-dot-circle"></i>
                    <span>Close</span> </button>
            </div>
        </div>
    </div>
</div>